# Dependencies
node_modules/

# Build output
dist/
out/
.next/
.parcel-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp

# Env
.env
.env.*.local

# TypeScript
*.tsbuildinfo


